* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', sans-serif;
  overflow: hidden;
  background: #000;
  user-select: none;
}

#root {
  height: 100vh;
  width: 100vw;
}
